<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body>
<div class="page-group">
    <div class="page page-current" id="page-personal">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/view/account.html">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class='title'>钱包详情</h1>
            <a class="button button-link button-nav pull-right" href="/view/wallet/recharge_record.html">充值记录</a>
        </header>
        <div class="content">
            <div class="content-block">
                <div>
                    <span>余额</span>
                    12312
                </div>
                <div>预消费：45条</div>
                <div>本月消费：290条</div>
                <div>今日消费：30条</div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/bitsync.js' charset='utf-8'></script>

</body>
</html>