<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script src="/static/js/iconfont.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <style type="text/css">
        .icon {
            width: 1.2em;
            height: 1.2em;
            vertical-align: -0.35em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="page-personal">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="/view/wallet/balance.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-previous"></use>
                </svg>
                返回
            </a>
            <h1 class='title'>充值记录</h1>
        </header>
        <div class="content">
            <div class="content-block-title">2018-07-01</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">2018-06-30</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">2018-06-29</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">套餐一 10￥(50条短信)</div>
                            <div class="item-after">12:36:53</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/bitsync.js' charset='utf-8'></script>

</body>
</html>