<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script src="/static/js/iconfont.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/css/bitsync.css">

    <style type="text/css">
        .icon {
            width: 1.2em;
            height: 1.2em;
            vertical-align: -0.35em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <h1 class="title">账号</h1>
        </header>


        <nav class="bar bar-tab">
            <a class="tab-item external" href="/view/home.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-combo_chart"></use>
                </svg>
            </a>
            <a class="tab-item external" href="/view/star.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-clock"></use>
                </svg>
            </a>
            <a class="tab-item external active" href="#">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-settings"></use>
                </svg>
            </a>
        </nav>

        <div class="content">
            <div class="content-padded">
                <div>
                    <h4 id="user-name"></h4>
                    <h6 id="user-uid"></h6>
                </div>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/view/wallet/balance.html" class="item-content item-link external">
                            <div class="item-media">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-sms"></use>
                                </svg>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">短信钱包</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/view/wallet/consume_record.html" class="item-content item-link external">
                            <div class="item-media">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-survey"></use>
                                </svg>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">消费记录</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/view/personal.html" class="item-content item-link external">
                            <div class="item-media">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-portrait_mode"></use>
                                </svg>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">个人中心</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/bitsync.js' charset='utf-8'></script>

<script type="text/javascript">
    window.onload = function () {
        let token = localStorage.getItem("token");

        if (!token) {
            $.toast("登录失效，请重新登录");
            go("/view/login.html", 800);
            return
        }

        $.ajax({
            type: "GET",
            url: BASE_RUL + "/member/get",
            headers: {
                Token: token
            },
            data: {},
            dataType: "json",
            success: function (data) {
                let code = data["code"];
                if (code != 200) {
                    $.toast(data["msg"]);
                    return
                }

                $("#user-name").html(data.response.name);
                $("#user-uid").html("UID:" + data.response.uid);
            },
            error: function (xhr) {
                let res = xhr.responseText;
                let data = JSON.parse(res);

                if (data.code == -400) {
                    $.toast("登录失效，请重新登录");
                    go("/view/login.html", 800);
                } else {
                    $.toast(data.msg);
                }
            }
        })
    }
</script>
</body>
</html>