<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/css/bitsync.css">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left external" href="/view/home.html">
                <span class="icon icon-refresh"></span>
                刷新
            </a>
            <h1 class="title">首页</h1>
        </header>

        <nav class="bar bar-tab">
            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>
            </a>
            <a class="tab-item external" href="/view/star.html">
                <span class="icon icon-clock"></span>
            </a>
            <a class="tab-item external" href="/view/account.html">
                <span class="icon icon-me"></span>
            </a>
        </nav>

        <div class="content">
            <div class="buttons-tab">
                <a href="#star-tab" class="tab-link button">收藏</a>
                <a href="#huobi-tab" class="tab-link active button">火币网</a>
                <a href="#dragonex-tab" class="tab-link button">龙交所</a>
            </div>

            <div class="tabs">
                <div id="star-tab" class="tab"></div>

                <div id="huobi-tab" class="tab active">
                    <div class="content-block">
                        <div class="buttons-row">
                            <a href="#huobi-usdt-tab" class="tab-link button active">USDT</a>
                            <a href="#huobi-btc-tab" class="tab-link button">BTC</a>
                            <a href="#huobi-eth-tab" class="tab-link button">ETH</a>
                        </div>
                    </div>
                    <div class="list-block tabs">
                        <div id="huobi-usdt-tab" class="tab active">
                            <ul id="huobi-usdt-market-list"></ul>
                        </div>
                        <div id="huobi-btc-tab" class="tab wait-update-tips">
                            <p>敬请期待</p>
                        </div>
                        <div id="huobi-eth-tab" class="tab wait-update-tips">
                            <p>敬请期待</p>
                        </div>
                    </div>
                </div>

                <div id="dragonex-tab" class="tab">
                    <div class="content-block">
                        <div class="buttons-row">
                            <a href="#dragonex-usdt-tab" class="tab-link button active">USDT</a>
                            <a href="#dragonex-eth-tab" class="tab-link button">ETH</a>
                        </div>
                    </div>
                    <div class="list-block tabs">
                        <div id="dragonex-usdt-tab" class="tab active">
                            <ul id="dragonex-usdt-market-list"></ul>
                        </div>
                        <div id="dragonex-eth-tab" class="tab wait-update-tips">
                            <p>敬请期待</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/bitsync.js' charset='utf-8'></script>

<script type="text/javascript">
    window.onload = market
</script>
</body>
</html>