<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script src="/static/js/iconfont.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <style type="text/css">
        .icon {
            width: 1.2em;
            height: 1.2em;
            vertical-align: -0.35em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="page-personal">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left external" href="/view/account.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-previous"></use>
                </svg>
                返回
            </a>
            <h1 class='title'>个人中心</h1>
            <a class="button button-link button-nav pull-right" href="#page-edit">
                <span class="icon icon-edit"></span>
                修改
            </a>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">昵称</div>
                            <div id="user-name" class="item-after"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">手机号</div>
                            <div id="user-handset" class="item-after"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">邮箱</div>
                            <div id="user-email" class="item-after"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">性别</div>
                            <div id="user-sex" class="item-after"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">生日</div>
                            <div id="user-birthday" class="item-after"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page" id="page-edit">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#page-personal">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class='title'>修改信息</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">昵称</div>
                                <div class="item-input">
                                    <input type="text" id="modify-name" name="account" placeholder="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">邮箱</div>
                                <div class="item-input">
                                    <input type="text" id="modify-email" name="email" placeholder="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">性别</div>
                                <div class="item-input">
                                    <input type="text" id="modify-sex" name="sex" placeholder="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                                <div class="item-title label">生日</div>
                                <div class="item-input">
                                    <input type="text" id="modify-birthday" name="birthday" placeholder="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-100"><a href="#"
                                            class="save-modify button button-big button-fill button-success">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/bitsync.js' charset='utf-8'></script>


<script type="text/javascript">
    let userName = "";
    let userHandset = "";
    let userEmail = "";
    let userSex = "";
    let userBirthday = "";

    window.onload = function () {
        let token = localStorage.getItem("token");

        if (!token) {
            $.toast("登录失效，请重新登录");
            go("/view/login.html", 800);
            return
        }

        $.ajax({
            type: "GET",
            url: BASE_RUL + "/member/get",
            headers: {
                Token: token
            },
            data: {},
            dataType: "json",
            success: function (data) {
                let code = data["code"];
                if (code != 200) {
                    $.toast(data["msg"]);
                    return
                }

                userName = data.response.name;
                userHandset = data.response.handset;
                userEmail = data.response.email;
                userSex = data.response.sex;
                userBirthday = data.response.birthday;

                $("#user-name").html(userName);
                $("#user-handset").html(userHandset);
                $("#user-email").html(userEmail);
                $("#user-birthday").html(userBirthday);

                $("#modify-name").val(userName);
                $("#modify-email").val(userEmail);
                $("#modify-birthday").val(userBirthday);

                if (userSex == 1) {
                    $("#user-sex").html("男");
                    $("#modify-sex").val("男");
                } else {
                    $("#user-sex").html("女");
                    $("#modify-sex").val("女");
                }
            },
            error: function (xhr) {
                let res = xhr.responseText;
                let data = JSON.parse(res);

                if (data.code == -400) {
                    $.toast("登录失效，请重新登录");
                    go("/view/login.html", 800);
                } else {
                    $.toast(data.msg);
                }
            }
        })
    };

    // 生日选择
    $("#modify-birthday").calendar({
        dateFormat: 'yyyy-mm-dd'
    });

    // 性别选择
    $("#modify-sex").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
  <button class="button button-link pull-right close-picker">确定</button>\
  <h1 class="title">性别</h1>\
  </header>',
        cols: [
            {
                textAlign: 'center',
                values: ['男', '女']
            }
        ]
    });

    $(document).on("click", ".save-modify", function () {
        let name = $("#modify-name").val();
        let email = $("#modify-email").val();
        let sex = $("#modify-sex").val();
        let birthday = $("#modify-birthday").val();

        if (sex == "男") {
            sex = 1;
        } else {
            sex = 0;
        }

        $.ajax({
            type: "POST",
            url: BASE_RUL + "/member/update",
            headers: {
                Token: localStorage.getItem("token")
            },
            data: {
                "name": name,
                "email": email,
                "sex": sex,
                "birthday": birthday
            },
            dataType: "json",
            success: function (data) {
                let code = data.code;
                if (code != 200) {
                    $.toast(data.msg)
                } else {
                    $.toast("修改成功");
                    go("/view/personal.html", 1000)
                }
            },
            error: function (xhr) {
                res = xhr.responseText;
                data = JSON.parse(res);
                $.toast(data.msg)
            }
        })
    });
</script>
</body>
</html>