<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitsync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script src="/static/js/iconfont.js"></script>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/css/bitsync.css">

    <style type="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <h1 class="title">预警</h1>
        </header>

        <nav class="bar bar-tab">
            <a class="tab-item external" href="/view/home.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-combo_chart"></use>
                </svg>
            </a>
            <a class="tab-item external active" href="#">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-clock"></use>
                </svg>
            </a>
            <a class="tab-item external" href="/view/account.html">
                <svg class="icon" aria-hidden="true" style="width: 1.3em;height: 1.3em;">
                    <use xlink:href="#icon-settings"></use>
                </svg>
            </a>
        </nav>

        <div class="content">
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">eos/usdt</div>
                                    <div class="item-after">17.99</div>
                                </div>
                                <div class="item-subtitle">火币网</div>
                                <div class="item-text">预警任务：12</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">btc/usdt</div>
                                    <div class="item-after">8721.2322</div>
                                </div>
                                <div class="item-subtitle">龙交所</div>
                                <div class="item-text">预警任务：5</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>
</html>